body {
  margin: 0;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loading-screen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #a88d67;
  border-top-color: #fdf3e5;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


#flipbook-container {
  width: 77vw;
  height: 90vh;
  perspective: 2000px;
  background: #eee;
  overflow: hidden;
  position: relative;
}

#flipbook {
  width: 100%;
  height: 100%;
  position: relative;
}

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  transform-origin: center left;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.page-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sound-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #fffa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.click-zone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.left-zone {
  left: 0;
}

.right-zone {
  right: 0;
}